.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 70px;
  width: 100vw;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
body {
  background: black;
  font-family: 'Varela', sans-serif;
}

.button {
  float: left;
  margin-top: 40px;
  position: relative;
  z-index: 9999;
}

.continue {
  color: red;
  opacity: 50%;
  font-size: 45px;
}

.continue-button {
  color: black;
  background-color: rgb(185, 98, 98);
}

.continue-button-center {
  color: rgb(250, 0, 0);
  background-color: rgba(0, 0, 0, 0.548);
  font-size: 24px;
  border-radius: 8px;
  padding: 13px;
  margin-left: 50%;
  margin-top: 360px;
}


.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}

.image1 {
  background-image: url("https://img00.deviantart.net/f7b2/i/2009/241/a/b/creepy_tunnel_unedited_by_panac.jpg");
  width: 100%;
  height: 100%;
  margin-left: 170px;
  display: block;
  background-repeat: no-repeat;
  position: relative;
}

.image2 {
  background-image: url("https://www.publicdomainpictures.net/pictures/120000/velka/old-scary-creepy-house.jpg");
  width: 100vw;
  height: 100%;
  opacity: 0.3;
  position: absolute;
}

.input {
  border-radius: 6px;
  padding: 3px;
  margin-left: 76px;
  margin-top: 13px;
}

.screenText {
  color: rgb(13, 139, 13);
  font-size: 24px;
  margin-left: 12px;
}

.text-info{
  color: white;
  font-size: 20px;
}

.tv-static {
  background-image: url("https://vignette.wikia.nocookie.net/marios-five-nights/images/1/17/Static.gif/revision/latest?cb=20150602181650");
  width: 100vw;
  height: 100%;
  opacity: 0.3;
  position: absolute;
}

