
.fade-in {
    background-color: white;
    min-height: 100vh;
    min-width: 100vw;
    font-size: 21px;
    text-align: center;
    
    -webkit-animation: fadein 2s; 
       -moz-animation: fadein 2s; 
        -ms-animation: fadein 2s; 
         -o-animation: fadein 2s; 
            animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.Home-header{
    background-size: cover;
    background-color: white;
    height: 80px; 
    
}

.home-header-text{
    font-size: 80px;
    margin-left: 0px;
}

 .Home-nav-buttons{
    background-image: 
        linear-gradient(
            to top, 
            #0062756e 0%, 
            #0f059e00 100%
            );    
    color: rgb(22, 21, 21);
    cursor: pointer;
    height: 45px;
    width: 75px;
    margin: -15px 0 0 -600px;
    border: none;
    font-style: italic;
    font-size: 25px;
    padding: 0 !important;
    z-index: 2;
}

.Home-nav-buttons:hover {
    color: rgb(61, 34, 34);
}


.Home-nav-buttons span {
	align-items: center;
	background: white;
	display: flex;
	height: 100%;
	transition: background .5s ease;
	width: 100%;
}

.Home-nav-buttons:hover span {
	background: transparent;
} 


.line {
    border: 0;
    height: 0; /* Firefox... */
    box-shadow: 0 0 10px 1px black;
    border-top: 2px solid blue;
    width: 1000px;
    margin-top: -18px;
    position: absolute;
    z-index: 5;
}
.line:after {  /* Not really supposed to work, but does */
    content: "\00a0";  /* Prevent margin collapse */
}

